[influx]
host = localhost
port = 8086
db_name = inverter

[query]
interval = 1
offline_interval = 60
error_interval = 60

[solarmon]
port = /dev/ttyUSB0
inverter_type = SPH-TL3

[inverters.main]
unit = 1
measurement = inverter
