[Unit]
Description=Solarmon
After=network.target

[Service]
ExecStart=/usr/bin/python3 -u solarmon.py
WorkingDirectory=/home/pi/solarmon
StandardOutput=inherit
StandardError=inherit
Restart=always
User=pi

[Install]
WantedBy=multi-user.target
